In [1]:
import os
os.chdir('..')

In [2]:
import pandas as pd

In [15]:
df_predator_victim = pd.read_excel('data/processed/victim_list_10302023.xlsx', sheet_name = 'S')
df_ri =  pd.read_excel('data/processed/victim_list_10302023.xlsx', sheet_name = 'new_Ri_sum_smooth')


df = pd.merge(df_predator_victim, df_ri, on = ['predator', 'predator_id'])
df.drop(
    df_predator_victim.columns.drop(['predator', 'predator_id', 'victim', 'victim_id ']), axis = 1
)

,predator,predator_id,victim,victim_id,2016_01,2016_02,2016_03,2016_04,2016_05,2016_06,...,2017_10,2017_11,2017_12,2018_01,2018_02,2018_03,2018_04,2018_05,2018_06,2018_07
0,Sean Hannity,1,Debbie Schlussel,1,1.390756,1.622549,1.738445,1.738445,1.738445,1.390756,...,5.447128,5.910713,3.592787,4.172268,3.129201,2.897409,3.013305,3.129201,3.245098,4.172268
1,Eric Bolling,2,Caroline Heldman,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.392859,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Charles Payne,3,Scottie Nell Hughes,3,0.157143,0.128571,0.142857,0.128571,0.128571,0.100000,...,0.300000,0.171429,0.257143,0.185714,0.171429,0.171429,0.271429,0.228571,0.142857,0.214286
3,Harry Knowles,4,Jasmine Baker,4,0.110000,0.060000,0.050000,0.040000,0.070000,0.020000,...,0.055000,0.080000,0.100000,0.060000,0.050000,0.070000,0.050000,0.080000,0.050000,0.070000
4,Harry Knowles,4,Gloria Walker,84,0.110000,0.060000,0.050000,0.040000,0.070000,0.020000,...,0.055000,0.080000,0.100000,0.060000,0.050000,0.070000,0.050000,0.080000,0.050000,0.070000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Francisco Ayala,84,Michelle Herrera,191,0.190000,0.210000,0.130000,0.160000,0.210000,0.150000,...,0.180000,0.120000,0.100000,0.150000,0.180000,0.170000,0.180000,0.170000,0.270000,0.280000
191,"Roland G. Fryer, Jr.",85,Naomi R. Shatz,192,0.005258,0.005736,0.002868,0.000000,0.002390,0.002868,...,0.002390,0.004302,0.000000,0.004780,0.000000,0.000000,0.004780,0.000000,0.003824,0.003346
192,George Tyndall,86,Dana Loewy,193,0.000000,0.020000,0.010000,0.010000,0.010000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.050000,0.100000,0.060000
193,George Tyndall,86,Heil,194,0.000000,0.020000,0.010000,0.010000,0.010000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.050000,0.100000,0.060000
194,William Strampel,87,Nicole Eastman,195,0.000000,0.010000,0.010000,0.010000,0.010000,0.000000,...,0.000000,0.000000,0.010000,0.040000,0.020000,0.300000,0.040000,0.020000,0.030000,0.000000

In [3]:
from src.data.utils import create_ri_for_regression

create_ri_for_regression()

,predator,predator_id,victim,victim_id,2016_01,2016_02,2016_03,2016_04,2016_05,2016_06,...,2017_10,2017_11,2017_12,2018_01,2018_02,2018_03,2018_04,2018_05,2018_06,2018_07
0,Sean Hannity,1,Debbie Schlussel,1,1.390756,1.622549,1.738445,1.738445,1.738445,1.390756,...,5.447128,5.910713,3.592787,4.172268,3.129201,2.897409,3.013305,3.129201,3.245098,4.172268
1,Eric Bolling,2,Caroline Heldman,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.392859,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Charles Payne,3,Scottie Nell Hughes,3,0.157143,0.128571,0.142857,0.128571,0.128571,0.100000,...,0.300000,0.171429,0.257143,0.185714,0.171429,0.171429,0.271429,0.228571,0.142857,0.214286
3,Harry Knowles,4,Jasmine Baker,4,0.110000,0.060000,0.050000,0.040000,0.070000,0.020000,...,0.055000,0.080000,0.100000,0.060000,0.050000,0.070000,0.050000,0.080000,0.050000,0.070000
4,Harry Knowles,4,Gloria Walker,84,0.110000,0.060000,0.050000,0.040000,0.070000,0.020000,...,0.055000,0.080000,0.100000,0.060000,0.050000,0.070000,0.050000,0.080000,0.050000,0.070000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Francisco Ayala,84,Michelle Herrera,191,0.190000,0.210000,0.130000,0.160000,0.210000,0.150000,...,0.180000,0.120000,0.100000,0.150000,0.180000,0.170000,0.180000,0.170000,0.270000,0.280000
191,"Roland G. Fryer, Jr.",85,Naomi R. Shatz,192,0.005258,0.005736,0.002868,0.000000,0.002390,0.002868,...,0.002390,0.004302,0.000000,0.004780,0.000000,0.000000,0.004780,0.000000,0.003824,0.003346
192,George Tyndall,86,Dana Loewy,193,0.000000,0.020000,0.010000,0.010000,0.010000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.050000,0.100000,0.060000
193,George Tyndall,86,Heil,194,0.000000,0.020000,0.010000,0.010000,0.010000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.050000,0.100000,0.060000
194,William Strampel,87,Nicole Eastman,195,0.000000,0.010000,0.010000,0.010000,0.010000,0.000000,...,0.000000,0.000000,0.010000,0.040000,0.020000,0.300000,0.040000,0.020000,0.030000,0.000000