In [1]:
import os
os.chdir('..')

In [2]:
import pandas as pd

from src.data.utils import merge_all_gtab_res

In [3]:
df_sum = merge_all_gtab_res(adjust_method = 'sum', write = False)
df_sum

,predator,predator_id,2016_01,2016_02,2016_03,2016_04,2016_05,2016_06,2016_07,2016_08,...,2017_10,2017_11,2017_12,2018_01,2018_02,2018_03,2018_04,2018_05,2018_06,2018_07
0,Sean Hannity,1,1.390756,1.622549,1.738445,1.738445,1.738445,1.390756,3.245098,2.781512,...,5.447128,5.910713,3.592787,4.172268,3.129201,2.897409,18.079829,3.129201,3.245098,4.172268
1,Eric Bolling,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.392859,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Charles Payne,3,0.157143,0.128571,0.142857,0.128571,0.128571,0.100000,0.171429,0.142857,...,0.300000,0.171429,0.257143,0.185714,0.171429,0.171429,0.271429,0.228571,0.142857,0.214286
3,Harry Knowles,4,0.110000,0.060000,0.050000,0.040000,0.070000,0.020000,0.070000,0.010000,...,0.420000,0.080000,0.100000,0.060000,0.050000,0.070000,0.050000,0.080000,0.050000,0.070000
4,Lockhart Steele,5,0.010000,0.010000,0.010000,0.000000,0.040000,0.010000,0.020000,0.000000,...,0.200000,0.050000,0.030000,0.010000,0.020000,0.000000,0.000000,0.010000,0.010000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Calvin Smyre,83,0.012920,0.000000,0.000000,0.000000,0.000000,0.000000,0.005168,0.003876,...,0.007752,0.024548,0.000000,0.000000,0.002584,0.000000,0.012920,0.000000,0.000000,0.015504
83,Francisco Ayala,84,0.190000,0.210000,0.130000,0.160000,0.210000,0.150000,0.180000,0.130000,...,0.180000,0.120000,0.100000,0.150000,0.180000,0.170000,0.180000,0.170000,0.270000,0.280000
84,"Roland G. Fryer, Jr.",85,0.005258,0.005736,0.002868,0.000000,0.002390,0.002868,0.000000,0.002868,...,0.002390,0.004302,0.000000,0.004780,0.000000,0.000000,0.004780,0.000000,0.003824,0.003346
85,George Tyndall,86,0.000000,0.020000,0.010000,0.010000,0.010000,0.000000,0.010000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.460000,0.100000,0.060000
86,William Strampel,87,0.000000,0.010000,0.010000,0.010000,0.010000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.010000,0.040000,0.020000,0.300000,0.040000,0.020000,0.030000,0.000000

In [4]:
df_mean = merge_all_gtab_res(adjust_method = 'mean', write = False)
df_mean

,predator,predator_id,2016_01,2016_02,2016_03,2016_04,2016_05,2016_06,2016_07,2016_08,...,2017_10,2017_11,2017_12,2018_01,2018_02,2018_03,2018_04,2018_05,2018_06,2018_07
0,Sean Hannity,1,0.278151,0.405637,0.434611,0.434611,0.347689,0.347689,0.649020,0.695378,...,1.089426,1.477678,0.718557,1.043067,0.782300,0.724352,3.615966,0.782300,0.811274,0.834454
1,Eric Bolling,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.278572,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Charles Payne,3,0.031429,0.032143,0.035714,0.032143,0.025714,0.025000,0.034286,0.035714,...,0.060000,0.042857,0.051429,0.046429,0.042857,0.042857,0.054286,0.057143,0.035714,0.042857
3,Harry Knowles,4,0.022000,0.015000,0.012500,0.010000,0.014000,0.005000,0.014000,0.002500,...,0.084000,0.020000,0.020000,0.015000,0.012500,0.017500,0.010000,0.020000,0.012500,0.014000
4,Lockhart Steele,5,0.002000,0.002500,0.002500,0.000000,0.008000,0.002500,0.004000,0.000000,...,0.040000,0.012500,0.006000,0.002500,0.005000,0.000000,0.000000,0.002500,0.002500,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Calvin Smyre,83,0.002584,0.000000,0.000000,0.000000,0.000000,0.000000,0.001034,0.000969,...,0.001550,0.006137,0.000000,0.000000,0.000646,0.000000,0.002584,0.000000,0.000000,0.003101
83,Francisco Ayala,84,0.038000,0.052500,0.032500,0.040000,0.042000,0.037500,0.036000,0.032500,...,0.036000,0.030000,0.020000,0.037500,0.045000,0.042500,0.036000,0.042500,0.067500,0.056000
84,"Roland G. Fryer, Jr.",85,0.001052,0.001434,0.000717,0.000000,0.000478,0.000717,0.000000,0.000717,...,0.000478,0.001076,0.000000,0.001195,0.000000,0.000000,0.000956,0.000000,0.000956,0.000669
85,George Tyndall,86,0.000000,0.005000,0.002500,0.002500,0.002000,0.000000,0.002000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.115000,0.025000,0.012000
86,William Strampel,87,0.000000,0.002500,0.002500,0.002500,0.002000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.002000,0.010000,0.005000,0.075000,0.008000,0.005000,0.007500,0.000000

In [5]:
df_ri = pd.read_excel('data/raw/victim_list_01252023.xlsx', sheet_name="Ri")
df_ri

,predator,predator_id,2016-01-01 00:00:00,2016-02-01 00:00:00,2016-03-01 00:00:00,2016-04-01 00:00:00,2016-05-01 00:00:00,2016-06-01 00:00:00,2016-07-01 00:00:00,2016-08-01 00:00:00,...,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00
0,Sean Hannity,1,0.857143,0.928571,1.071429,1.071429,1.000000,0.928571,2.071429,1.714286,...,3.785714,3.857143,2.214286,2.785714,2.000000,1.785714,11.571429,1.857143,2.142857,2.785714
1,Eric Bolling,2,0.083333,0.083333,0.250000,0.166667,0.000000,0.166667,0.333333,0.250000,...,1.916667,0.750000,0.750000,0.333333,0.666667,0.583333,0.416667,0.333333,0.166667,0.416667
2,Charles Payne,3,0.080000,0.110000,0.070000,0.080000,0.080000,0.060000,0.090000,0.080000,...,0.190000,0.110000,0.160000,0.110000,0.100000,0.110000,0.160000,0.140000,0.080000,0.130000
3,Harry Knowles,4,0.060000,0.030000,0.030000,0.030000,0.030000,0.020000,0.040000,0.020000,...,0.250000,0.060000,0.040000,0.030000,0.050000,0.030000,0.050000,0.020000,0.020000,0.040000
4,Lockhart Steele,5,0.007488,0.000000,0.004992,0.008736,0.019968,0.009984,0.004992,0.000000,...,0.131040,0.038688,0.012480,0.002496,0.017472,0.003744,0.000000,0.003744,0.009984,0.013728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Calvin Smyre,83,0.003744,0.000000,0.000000,0.004992,0.013728,0.000000,0.011232,0.003744,...,0.002496,0.011232,0.002496,0.004992,0.008736,0.007488,0.006240,0.000000,0.002496,0.003744
83,Francisco Ayala,84,0.120000,0.110000,0.080000,0.100000,0.100000,0.050000,0.110000,0.070000,...,0.110000,0.080000,0.060000,0.090000,0.100000,0.100000,0.110000,0.090000,0.160000,0.180000
84,"Roland G. Fryer, Jr.",85,0.004992,0.003744,0.002496,0.000000,0.003744,0.011232,0.019968,0.000000,...,0.002496,0.000000,0.006240,0.002496,0.007488,0.002496,0.012480,0.000000,0.000000,0.013728
85,George Tyndall,86,0.010000,0.010000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.010000,0.000000,0.010000,0.280000,0.070000,0.040000
86,William Strampel,87,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.020000,0.020000,0.020000,0.180000,0.020000,0.010000,0.010000,0.010000

In [3]:
df_victim_sum = merge_all_gtab_res(
    input_dir = 'data/gtab_res/victim/original/',
    output_data_path = 'data/processed/victim_list_01252023.xlsx',
    adjust_method = 'sum',
    write = True
)

df_victim_sum

,victim,victim_id,2016_01,2016_02,2016_03,2016_04,2016_05,2016_06,2016_07,2016_08,...,2017_10,2017_11,2017_12,2018_01,2018_02,2018_03,2018_04,2018_05,2018_06,2018_07
0,Debbie Schlussel,1,0.026316,0.052632,0.052632,0.000000,0.000000,0.026316,0.078947,0.052632,...,0.000000,0.026316,0.026316,0.026316,0.026316,0.000000,0.157895,0.000000,0.000000,0.000000
1,Caroline Heldman,2,0.000000,0.021505,0.010753,0.021505,0.010753,0.021505,0.043011,0.000000,...,0.053763,0.032258,0.032258,0.010753,0.021505,0.010753,0.032258,0.021505,0.010753,0.043011
2,Scottie Nell Hughes,3,0.062500,0.137500,0.187500,1.250000,0.262500,0.175000,0.950000,0.337500,...,0.137500,0.050000,0.087500,0.050000,0.037500,0.012500,0.087500,0.037500,0.012500,0.037500
3,Jasmine Baker,4,0.023256,0.010336,0.027132,0.021964,0.010336,0.031008,0.011628,0.012920,...,0.015504,0.002584,0.027132,0.014212,0.007752,0.024548,0.009044,0.014212,0.011628,0.028424
4,Eden Rohatensky,5,0.003876,0.007752,0.006460,0.027132,0.007752,0.000000,0.000000,0.000000,...,0.054264,0.010336,0.000000,0.005168,0.010336,0.003876,0.011628,0.000000,0.000000,0.003876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Michelle Herrera,191,0.031008,0.045220,0.052972,0.036176,0.025840,0.020672,0.060724,0.015504,...,0.024548,0.012920,0.025840,0.031008,0.032300,0.024548,0.023256,0.025840,0.055556,0.043928
191,Naomi R. Shatz,192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Dana Loewy,193,0.003346,0.000000,0.002390,0.000000,0.004780,0.000000,0.008605,0.008127,...,0.002390,0.007649,0.000000,0.000000,0.000000,0.000000,0.011951,0.007171,0.009561,0.007649
193,Heil,194,5.592593,4.574074,4.722222,4.203704,5.425926,4.259259,5.166667,4.074074,...,4.962963,4.018519,4.870370,3.944444,3.944444,4.592593,4.962963,3.962963,3.888889,4.555556
194,Nicole Eastman,195,0.010039,0.005736,0.008127,0.004780,0.000000,0.004780,0.000000,0.003824,...,0.004302,0.017209,0.002390,0.002868,0.005736,0.010039,0.002868,0.002868,0.000000,0.002390

In [4]:
df_victim_mean = merge_all_gtab_res(
    input_dir = 'data/gtab_res/victim/original/',
    output_data_path = 'data/processed/victim_list_01252023.xlsx',
    write = True,
    adjust_method = 'mean'
)

df_victim_mean

,victim,victim_id,2016_01,2016_02,2016_03,2016_04,2016_05,2016_06,2016_07,2016_08,...,2017_10,2017_11,2017_12,2018_01,2018_02,2018_03,2018_04,2018_05,2018_06,2018_07
0,Debbie Schlussel,1,0.005263,0.013158,0.013158,0.000000,0.000000,0.006579,0.015789,0.013158,...,0.000000,0.006579,0.005263,0.006579,0.006579,0.000000,0.031579,0.000000,0.000000,0.000000
1,Caroline Heldman,2,0.000000,0.005376,0.002688,0.005376,0.002151,0.005376,0.008602,0.000000,...,0.010753,0.008065,0.006452,0.002688,0.005376,0.002688,0.006452,0.005376,0.002688,0.008602
2,Scottie Nell Hughes,3,0.012500,0.034375,0.046875,0.312500,0.052500,0.043750,0.190000,0.084375,...,0.027500,0.012500,0.017500,0.012500,0.009375,0.003125,0.017500,0.009375,0.003125,0.007500
3,Jasmine Baker,4,0.004651,0.002584,0.006783,0.005491,0.002067,0.007752,0.002326,0.003230,...,0.003101,0.000646,0.005426,0.003553,0.001938,0.006137,0.001809,0.003553,0.002907,0.005685
4,Eden Rohatensky,5,0.000775,0.001938,0.001615,0.006783,0.001550,0.000000,0.000000,0.000000,...,0.010853,0.002584,0.000000,0.001292,0.002584,0.000969,0.002326,0.000000,0.000000,0.000775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Michelle Herrera,191,0.006202,0.011305,0.013243,0.009044,0.005168,0.005168,0.012145,0.003876,...,0.004910,0.003230,0.005168,0.007752,0.008075,0.006137,0.004651,0.006460,0.013889,0.008786
191,Naomi R. Shatz,192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Dana Loewy,193,0.000669,0.000000,0.000598,0.000000,0.000956,0.000000,0.001721,0.002032,...,0.000478,0.001912,0.000000,0.000000,0.000000,0.000000,0.002390,0.001793,0.002390,0.001530
193,Heil,194,1.118519,1.143519,1.180556,1.050926,1.085185,1.064815,1.033333,1.018519,...,0.992593,1.004630,0.974074,0.986111,0.986111,1.148148,0.992593,0.990741,0.972222,0.911111
194,Nicole Eastman,195,0.002008,0.001434,0.002032,0.001195,0.000000,0.001195,0.000000,0.000956,...,0.000860,0.004302,0.000478,0.000717,0.001434,0.002510,0.000574,0.000717,0.000000,0.000478