In [1]:
import os
os.chdir('../')

In [2]:
from src.process import TrendSearch

agent = TrendSearch(period=['2016-06-01', '2018-12-31'])
agent.setup('gtab_config')

2024-02-09 16:11:39.295 | INFO     | gtab.core:__init__:83 - gtab: Using directory 'gtab_config'
2024-02-09 16:11:40.671 | INFO     | gtab.core:set_active_gtab:851 - gtab: Active anchorbank changed to: google_anchorbank_geo=_timeframe=2019-01-01 2020-08-01.tsv

2024-02-09 16:11:41.667 | INFO     | gtab.core:set_active_gtab:851 - gtab: Active anchorbank changed to: google_anchorbank_geo=_timeframe=2016-06-01 2018-12-31.tsv

In [5]:
df = agent.calibrate(
    'no_suffix',
    'victim',
    target='victim',
    raw_data_path = 'data/processed/victim_list_11222023.xlsx',
    sheet_name = 'new_Rj_sum_smooth'
)

2024-02-09 16:16:17.205 | INFO     | src.process.utils:get_target_list:12 - victim list has already exists

In [4]:
df

,victim,victim_id,2016_06,2016_07,2016_08,2016_09,2016_10,2016_11,2016_12,2017_01,...,2018_03,2018_04,2018_05,2018_06,2018_07,2018_08,2018_09,2018_10,2018_11,2018_12
0,Debbie Schlussel,1,0.026316,0.078947,0.052632,0.000010,0.026316,0.052632,0.026316,0.026316,...,0.000010,0.157895,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010,0.000010
1,Caroline Heldman,2,0.021505,0.043011,0.000010,0.010753,0.021505,0.021505,0.000010,0.032258,...,0.010753,0.032258,0.021505,0.010753,0.043011,0.000010,0.000010,0.000010,0.011905,0.000010
2,Scottie Nell Hughes,3,0.175000,0.950000,0.337500,0.200000,1.575000,0.375000,0.100000,0.125000,...,0.012500,0.087500,0.037500,0.012500,0.037500,0.000010,0.042857,0.014286,0.014286,0.000010
3,Jasmine Baker,4,0.031008,0.011628,0.012920,0.009044,0.020672,0.020672,0.015504,0.018088,...,0.024548,0.009044,0.014212,0.011628,0.028424,0.010302,0.000010,0.002943,0.007358,0.006623
4,Eden Rohatensky,5,0.000010,0.000010,0.000010,0.000010,0.006460,0.002584,0.002584,0.003876,...,0.003876,0.011628,0.000010,0.000010,0.003876,0.000010,0.002355,0.002355,0.000010,0.000010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Michelle Herrera,191,0.020672,0.060724,0.015504,0.058140,0.037468,0.029716,0.027132,0.060724,...,0.024548,0.023256,0.025840,0.055556,0.043928,0.004121,0.000010,0.002355,0.005298,0.000010
191,Naomi R. Shatz,192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Dana Loewy,193,0.000010,0.008605,0.008127,0.004780,0.002868,0.000010,0.006693,0.007171,...,0.000010,0.011951,0.007171,0.009561,0.007649,0.000010,0.000010,0.000010,0.000010,0.000010
193,Heil,194,4.259259,5.166667,4.074074,4.203704,5.000000,5.462963,4.277778,5.685185,...,4.592593,4.962963,3.962963,3.888889,4.555556,1.020833,0.958333,1.062500,1.000000,1.000000
194,Nicole Eastman,195,0.004780,0.000010,0.003824,0.000010,0.000010,0.000010,0.007649,0.003346,...,0.010039,0.002868,0.002868,0.000010,0.002390,0.004121,0.000010,0.000010,0.000010,0.000010

In [3]:
import pandas as pd
d = pd.read_excel("data/processed/victim_list_11222023.xlsx", sheet_name='new_Rj_sum_smooth_addmin')
d.iloc[80]

victim       Mary Frances Pulizzi
victim_id                      81
2016_01                       NaN
2016_02                       NaN
2016_03                       NaN
2016_04                       NaN
2016_05                       NaN
2016_06                       NaN
2016_07                       NaN
2016_08                       NaN
2016_09                       NaN
2016_10                       NaN
2016_11                       NaN
2016_12                       NaN
2017_01                       NaN
2017_02                       NaN
2017_03                       NaN
2017_04                       NaN
2017_05                       NaN
2017_06                       NaN
2017_07                       NaN
2017_08                       NaN
2017_09                       NaN
2017_10                       NaN
2017_11                       NaN
2017_12                       NaN
2018_01                       NaN
2018_02                       NaN
2018_03                       NaN
2018_04                       NaN
2018_05                       NaN
2018_06                       NaN
2018_07                       NaN
Name: 80, dtype: object

In [5]:
d.get('2018_06') is None

False

In [11]:
df.iloc[80]

victim       Mary Frances Pulizzi
victim_id                      81
2016_01                       NaN
2016_02                       NaN
2016_03                       NaN
2016_04                       NaN
2016_05                       NaN
2016_06                   0.00001
2016_07                   0.00001
2016_08                   0.00001
2016_09                   0.00001
2016_10                   0.00001
2016_11                   0.00001
2016_12                   0.00001
2017_01                       NaN
2017_02                       NaN
2017_03                       NaN
2017_04                       NaN
2017_05                       NaN
2017_06                       NaN
2017_07                       NaN
2017_08                       NaN
2017_09                       NaN
2017_10                       NaN
2017_11                       NaN
2017_12                       NaN
2018_01                   0.00001
2018_02                   0.00001
2018_03                   0.00001
2018_04                   0.00001
2018_05                   0.00001
2018_06                   0.00001
2018_07                   0.00001
2018_08                   0.00001
2018_09                   0.00001
2018_10                   0.00001
2018_11                   0.00001
2018_12                   0.00001
Name: 80, dtype: object

In [9]:
from pymongo import MongoClient

collection = MongoClient(os.environ['CONN_STR'])['no_suffix']['victim']
for i in collection.find({'name': 'Naomi R. Shatz'}):

SyntaxError: incomplete input (1404006117.py, line 4)